@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 229 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 30.74% 76.68%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
  }
}

@layer utilities {
  .dark-red {
    @apply text-[#D44145];
  }
  .bg-pink-red {
    background: linear-gradient(90deg, #df4979 44.06%, #e36b31 50%);
  }

  .border-gray {
    @apply border border-gray-500;
  }

  .grid-template {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .grid-template-search {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }

  .text-subtitle {
    @apply mb-6 mt-10 text-center text-3xl sm:text-4xl font-bold;
  }




  .custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #e4e4ed #0000;
    animation: s6 1s infinite linear;
   
  }
  .custom-loader::before,
  .custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .custom-loader::before {
    border-color: #766df4 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  .custom-loader::after {
    margin: 8px;
  }

  @keyframes s6 {
    100% {
      transform: rotate(1turn);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  span {
    @apply text-primary;
  }

  td {
    @apply !text-lg;
  }

  section {
    @apply mx-5 my-8;
  }

  /* disable up and down arrow in type number */
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]:hover::-webkit-inner-spin-button,
  input[type="number"]:hover::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* custom image gallery settings */
.image-gallery-slide .image-gallery-image {
  width: 45% !important;
  object-fit: contain;
  margin-inline: auto !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 60% !important;
  line-height: 0;
  margin-inline: auto !important;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px !important;
  width: 60px !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-left-nav .image-gallery-svg {
  height: 70px !important;
  width: 60px !important;
}



/* custom clerk provider css tyles */
.cl-formButtonPrimary {
    @apply inline-flex bg-secondary h-9 items-center justify-center whitespace-nowrap rounded-sm  px-3 text-base font-medium 
     border hover:bg-accent hover:text-black  shadow-2xl  transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset-1 disabled:pointer-events-none disabled:opacity-50;
}




.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-userButtonPopoverActionButton,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverFooter p,
.cl-userButtonPopoverFooter a,
.cl-formHeaderSubtitle,
.cl-breadcrumbsItem,
.cl-breadcrumbsItemDivider,
.cl-fileDropAreaHint,
.cl-fileDropAreaFooterHint,
.cl-form
    p[data-localization-key='userProfile.emailAddressPage.emailCode.formHint'],
p[data-localization-key='userProfile.profilePage.successMessage'] {
    @apply text-muted-foreground;
}

.cl-dividerLine {
    @apply bg-border;
}

.cl-formFieldInput[type='text'],
.cl-formFieldInput[type='email'],
.cl-formFieldInput[type='password'] {
    @apply flex h-11 w-full rounded-sm border border-input px-3 py-2  ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
    @apply text-primary underline ;
}

.cl-otpCodeFieldInput {
    @apply border border-b-input text-foreground;
}

.cl-formResendCodeLink {
    @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
    @apply flex h-11 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
    @apply border border-input bg-background;
}

.cl-internal-icon,
.cl-userPreviewSecondaryIdentifier__userButton {
    @apply text-foreground;
}

.cl-profileSectionTitle {
    @apply border-b border-input;
}

button[data-localization-key='userProfile.start.dangerSection.deleteAccountButton'] {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
}

.cl-fileDropAreaBox {
    @apply dark:bg-gray-900;
}

.cl-fileDropAreaIconBox {
    @apply dark:bg-gray-800;
}

.cl-fileDropAreaIcon {
    @apply dark:text-gray-400;
}

.cl-fileDropAreaButtonPrimary {
    @apply h-10 px-4 py-2 text-foreground transition-colors hover:bg-secondary hover:text-accent-foreground;
}

.cl-userButtonPopoverActionButton,
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-navbarButton {
    @apply hover:bg-accent hover:text-accent-foreground;
}

.cl-card {
    @apply rounded-md shadow-md;
}

.cl-userButtonPopoverCard {
    @apply rounded-sm;
}

.cl-userButtonPopoverFooter a {
    @apply hover:text-muted-foreground;
}

.cl-badge {
    @apply rounded-full px-2.5 py-0.5 text-xs;
}

.cl-badge[data-localization-key='badge__unverified'] {
    @apply border bg-transparent text-destructive dark:text-red-500;
}

.cl-userButton-root {
  @apply !mt-0
}

.cl-formButtonReset {
    @apply  hover:bg-popover;
}


/* paytack close icon */

.button[data-v-81bf4389] {
  transform : scale(1.5) !important
}